# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Node
node_modules/

# Vite/React
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Data/Models
volumes/

# IDE
.vscode/
.idea/