fastapi==0.115.0
uvicorn==0.30.6
SQLAlchemy==2.0.34
psycopg[binary]==3.2.3
pandas==2.2.2
numpy==1.26.4
yfinance==0.2.43
scikit-learn==1.5.2
joblib==1.4.2
ta==0.11.0
pydantic==2.9.2
python-dotenv==1.0.1
